{
  "openapi": "3.0.0",
  "info": {
    "title": "WP Umbrella Public API",
    "version": "1.0.0",
    "description": "The WP Umbrella Public API documentation."
  },
  "servers": [
    {
      "url": "https://public-api.wp-umbrella.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:4002",
      "description": "Development"
    }
  ],
  "tags": [
    {
      "name": "Customers",
      "description": "Manage maintenance customers"
    },
    {
      "name": "Labels",
      "description": "Manage labels for organizing projects"
    },
    {
      "name": "Processes",
      "description": "Track and manage background processes"
    },
    {
      "name": "Projects",
      "description": "Manage WordPress projects (sites)"
    },
    {
      "name": "Custom Works",
      "description": "Manage custom works for a project"
    },
    {
      "name": "Database Optimization",
      "description": "Database optimization operations for a project"
    },
    {
      "name": "Plugins",
      "description": "Manage plugins for a project"
    },
    {
      "name": "Tasks",
      "description": "View tasks history for a project"
    },
    {
      "name": "Themes",
      "description": "Manage themes for a project"
    },
    {
      "name": "Vulnerabilities",
      "description": "View vulnerabilities for a project"
    },
    {
      "name": "Broken Links",
      "description": "Broken link detection for a project"
    },
    {
      "name": "Uptime",
      "description": "Uptime rate and downtime incidents for a project, computed from confirmed incidents"
    },
    {
      "name": "Reports",
      "description": "Maintenance reports of a project: history, generation and delivery status"
    },
    {
      "name": "PHP Issues",
      "description": "PHP errors, warnings and notices recorded on a project"
    },
    {
      "name": "Backups",
      "description": "List and inspect the backups of a project"
    },
    {
      "name": "Login Guard",
      "description": "Blocked IP filter protecting a project's login page"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 Bearer token with public_api scope"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Retrieve list of projects",
        "description": "Retrieves a paginated list of projects for the authenticated user with sorting options.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of items per page"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "base_url"
              ],
              "default": "name"
            },
            "description": "Sort field"
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": [
                    {
                      "base_url": "https://example.com",
                      "name": "Example Website",
                      "source_domain": "example.com",
                      "id": 123,
                      "hosting": "AWS",
                      "is_currently_down": false,
                      "is_disconnected": false,
                      "connectivity": {
                        "status": "paired",
                        "last_ping_at": "2024-01-20T15:45:00Z"
                      },
                      "count_php_issues": 2,
                      "latest_downtime": "2024-01-15T10:30:00Z",
                      "latest_ping": 250,
                      "latest_performance_score": 85.5,
                      "user_id_wp_login": 456,
                      "created_at": "2023-12-01T09:00:00Z",
                      "starred": true,
                      "userId": 789,
                      "labels": [
                        "production",
                        "client-a"
                      ],
                      "plugins": [
                        {
                          "version": "2.1.0",
                          "key": "woocommerce",
                          "slug": "woocommerce",
                          "need_update": true,
                          "is_active": true
                        }
                      ],
                      "themes": [
                        {
                          "id": "twentytwentythree",
                          "version": "1.2",
                          "stylesheet": "twentytwentythree",
                          "latest_version": "1.3",
                          "template": "twentytwentythree",
                          "is_active": true
                        }
                      ],
                      "warnings": {
                        "wordpress_version": "6.4.2",
                        "php_current_version": "8.1",
                        "php_recommended_version": "8.2",
                        "php_is_secure": true,
                        "php_is_supported": true,
                        "is_ssl": true,
                        "is_indexable": true,
                        "is_up_to_date": false,
                        "defined_wp_debug": false
                      },
                      "last_synchronization": {
                        "date": "2024-01-20T15:45:00Z",
                        "date_with_success": "2024-01-20T15:45:00Z",
                        "date_with_success_timestamp": 1705766700
                      },
                      "vulnerabilities": {
                        "plugins": [],
                        "themes": [],
                        "wordpress": []
                      },
                      "maintenanceCustomer": {
                        "id": "cust_123",
                        "company_name": "ACME Corp",
                        "firstname": "John",
                        "lastname": "Doe",
                        "website_url": "https://acme.com"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "example": {
                  "code": "bad_params",
                  "message": "\"sort\" must be one of [name, base_url]"
                }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "example": {
                  "code": "not_found",
                  "message": "Project not found"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Retrieve a project",
        "description": "Retrieves a single project by its ID.",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": {
                    "base_url": "https://example.com",
                    "name": "Example Project",
                    "source_domain": "example.com",
                    "id": 123,
                    "hosting": "Example Hosting",
                    "is_currently_down": false,
                    "is_disconnected": false,
                    "connectivity": {
                      "status": "paired",
                      "last_ping_at": "2024-01-01T00:00:00.000Z"
                    },
                    "count_php_issues": 0,
                    "latest_downtime": "2024-01-01T00:00:00.000Z",
                    "latest_ping": 150.5,
                    "latest_performance_score": 0.95,
                    "latest_performance_score_mobile": 0.9,
                    "user_id_wp_login": null,
                    "created_at": "2024-01-01T00:00:00.000Z",
                    "starred": true,
                    "userId": 456,
                    "labels": [],
                    "plugins": [
                      {
                        "version": "2.0.0",
                        "key": "example-plugin/example-plugin.php",
                        "slug": "example-plugin",
                        "need_update": true,
                        "is_active": true
                      }
                    ],
                    "themes": [
                      {
                        "id": "theme123",
                        "version": "1.0",
                        "stylesheet": "example-theme",
                        "latest_version": "1.1",
                        "template": "example-theme",
                        "is_active": true
                      }
                    ],
                    "warnings": {
                      "wordpress_version": "6.0.0",
                      "php_current_version": "8.0",
                      "php_recommended_version": "8.1",
                      "php_is_secure": true,
                      "php_is_supported": true,
                      "is_ssl": true,
                      "is_indexable": true,
                      "is_up_to_date": true,
                      "defined_wp_debug": false
                    },
                    "last_synchronization": {
                      "date": "2024-01-01T00:00:00.000Z",
                      "date_with_success": "2024-01-01T00:00:00.000Z",
                      "date_with_success_timestamp": 1704067200
                    },
                    "vulnerabilities": {
                      "plugins": [
                        {
                          "id": "vuln123"
                        }
                      ],
                      "themes": [],
                      "wordpress": []
                    },
                    "maintenanceCustomer": {
                      "id": "cust123",
                      "company_name": "Example Company",
                      "firstname": "John",
                      "lastname": "Doe",
                      "website_url": "https://example-company.com"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "status": 401,
                  "code": "unauthorized_request",
                  "message": "You are not authorized to access this resource."
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/vulnerabilities": {
      "get": {
        "tags": [
          "Vulnerabilities"
        ],
        "summary": "Retrieve vulnerability scan results for a project",
        "description": "Returns the latest vulnerability scan results for plugins, themes, and WordPress core for a specific project.",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": {
                    "plugin_vulnerabilities": [
                      {
                        "plugin": {
                          "id": 1,
                          "name": "contact-form-7",
                          "version": "5.7.0",
                          "latest_version": "5.8.0"
                        },
                        "vulnerabilities": [
                          {
                            "title": "Cross-Site Scripting (XSS)",
                            "description": "A stored XSS vulnerability...",
                            "disclosure_date": "2024-01-15",
                            "cvss_score": 6.1,
                            "version_affected_in": "<= 5.7.0",
                            "version_fixed_in": "5.7.1",
                            "patchstack_id": 12345,
                            "patchstack_url": "https://patchstack.com/database/vulnerability/12345"
                          }
                        ]
                      }
                    ],
                    "theme_vulnerabilities": [
                      {
                        "theme": {
                          "id": 1,
                          "name": "flavor",
                          "version": "1.0.0",
                          "latest_version": "1.1.0"
                        },
                        "vulnerabilities": [
                          {
                            "title": "Arbitrary File Upload",
                            "description": "An arbitrary file upload vulnerability...",
                            "disclosure_date": "2024-02-10",
                            "cvss_score": 9.8,
                            "version_affected_in": "<= 1.0.0",
                            "version_fixed_in": "1.0.1",
                            "patchstack_id": 67890,
                            "patchstack_url": "https://patchstack.com/database/vulnerability/67890"
                          }
                        ]
                      }
                    ],
                    "wordpress_vulnerabilities": {
                      "wordpress": {
                        "version": "6.4.0",
                        "latest_version": "6.5.0"
                      },
                      "vulnerabilities": [
                        {
                          "title": "SQL Injection",
                          "description": "An SQL injection vulnerability...",
                          "disclosure_date": "2024-03-01",
                          "cvss_score": 7.5,
                          "version_affected_in": "<= 6.4.0",
                          "version_fixed_in": "6.4.1",
                          "patchstack_id": 11111,
                          "patchstack_url": "https://patchstack.com/database/vulnerability/11111"
                        }
                      ]
                    },
                    "last_scan_date": "2024-03-15T10:30:00.000Z",
                    "scan_in_progress": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "example": {
                  "code": "bad_params",
                  "message": "\"projectId\" is required"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "code": "internal_error",
                  "message": "An unexpected error occurred"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/uptime": {
      "get": {
        "tags": [
          "Uptime"
        ],
        "summary": "Retrieve uptime and downtime incidents for a project",
        "description": "Returns the uptime rate over a time window and the downtime incidents recorded in it. The rate is computed from confirmed incidents only, never from raw ping samples: a single failed ping can be a hosting provider blocking our monitoring IPs, so it takes a multi-region confirmation before anything counts against uptime. A project whose monitoring is off or paused returns monitoring_enabled false and a null rate rather than a fabricated 100. The window defaults to the last 30 days and cannot exceed 366 days. Incidents are truncated to limit, most recent first; incidents_total reports how many the window holds, and the rate always covers the whole window regardless of that truncation. An incident carries the region that observed it, lowercased (eu_west, us_east, us_west, asia_hk, australia), and description is a machine-readable reason such as dns_resolution_failed. Neither is a closed set: treat an unknown value as opaque.\n",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start of the window (ISO 8601). Defaults to 30 days before `to`."
          },
          {
            "in": "query",
            "name": "to",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End of the window (ISO 8601). Defaults to now, cannot be in the future."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of incidents returned (max 1000)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": {
                    "monitoring_enabled": true,
                    "uptime_percentage": 99.87,
                    "is_currently_down": false,
                    "from": "2026-06-30T09:00:00.000Z",
                    "to": "2026-07-30T09:00:00.000Z",
                    "incidents_total": 2,
                    "incidents_returned": 2,
                    "incidents": [
                      {
                        "id": 48210,
                        "started_at": "2026-07-14T02:11:00.000Z",
                        "ended_at": "2026-07-14T02:47:00.000Z",
                        "duration_seconds": 2160,
                        "region": "us_east",
                        "http_status": 503,
                        "description": "http_status_error"
                      },
                      {
                        "id": 47988,
                        "started_at": "2026-07-03T22:04:00.000Z",
                        "ended_at": "2026-07-03T22:09:00.000Z",
                        "duration_seconds": 300,
                        "region": "eu_west",
                        "http_status": null,
                        "description": "dns_resolution_failed"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "example": {
                  "code": "bad_params",
                  "message": "\"to\" must be greater than \"ref:from\""
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/themes/update": {
      "post": {
        "tags": [
          "Themes"
        ],
        "summary": "Update themes for a project",
        "description": "Updates one or more themes on a project and returns a process ID to track the work. Themes are identified by their stylesheet, the value returned as the theme key by GET /projects/{projectId}/themes. A theme already on its latest version, or one whose updates were excluded from the dashboard, is skipped; if none of the requested themes has an available update, the call returns 404 rather than an empty process. Repeating an identical call within a few minutes returns duplicate true instead of queueing the same work twice.\n",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "theme_keys"
                ],
                "properties": {
                  "theme_keys": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Stylesheets of the themes to update"
                  },
                  "clear_cache": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to clear the site cache once the update is done"
                  }
                }
              },
              "example": {
                "theme_keys": [
                  "twentytwentyfour",
                  "astra"
                ],
                "clear_cache": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": {
                    "processId": "cm4s1zmdc00012nufwpwp1th7"
                  },
                  "links": {
                    "process": "https://public-api.wp-umbrella.com/processes/cm4s1zmdc00012nufwpwp1th7"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "example": {
                  "code": "bad_params",
                  "message": "\"theme_keys\" is required"
                }
              }
            }
          },
          "404": {
            "description": "No theme with an available update matches the request",
            "content": {
              "application/json": {
                "example": {
                  "code": "not_found",
                  "message": "No theme with an available update matches theme_keys"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/themes": {
      "get": {
        "tags": [
          "Themes"
        ],
        "summary": "Retrieve themes for a project",
        "description": "Retrieves a paginated list of themes for a specific project.",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of items per page"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "author"
              ],
              "default": "name"
            },
            "description": "Sort field"
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": [
                    {
                      "id": 1,
                      "name": "Twenty Twenty-Four",
                      "is_active": true,
                      "version": "1.2.0",
                      "latest_version": "1.3.0",
                      "require_wp_version": "6.4",
                      "require_php_version": "7.4",
                      "author": "WordPress.org",
                      "author_uri": "https://wordpress.org",
                      "theme_uri": "https://wordpress.org/themes/twentytwentyfour/"
                    }
                  ],
                  "links": {
                    "pagination": {
                      "first": "https://public-api.wp-umbrella.com/projects/1/themes?page=1&per_page=10",
                      "last": "https://public-api.wp-umbrella.com/projects/1/themes?page=1&per_page=10"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "example": {
                  "code": "bad_params",
                  "message": "\"sort\" must be one of [name, author]"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/tasks": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Retrieve tasks for a project",
        "description": "Retrieves a paginated list of tasks for a specific project with optional filtering by type and date range.",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of items per page"
          },
          {
            "in": "query",
            "name": "types",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "UPDATE_PLUGIN",
                  "UPDATE_THEME",
                  "UPDATE_CORE",
                  "ACTIVATE_PLUGIN",
                  "DEACTIVATE_PLUGIN",
                  "DELETE_PLUGIN",
                  "DELETE_THEME",
                  "OPTIMIZE_DATABASE"
                ]
              }
            },
            "description": "Types of tasks to retrieve"
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "integer"
            },
            "description": "Start date for filtering tasks (Unix timestamp)"
          },
          {
            "in": "query",
            "name": "to",
            "schema": {
              "type": "integer"
            },
            "description": "End date for filtering tasks (Unix timestamp)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": [
                    {
                      "id": "task123",
                      "type": "UPDATE_PLUGIN",
                      "code": "success",
                      "entities": {
                        "id": "plugin123",
                        "name": "Example Plugin",
                        "plugin": "example-plugin/example-plugin.php",
                        "version": "2.0.0",
                        "is_active": true,
                        "old_version": "1.9.0",
                        "update_type": "QUICK_UPDATE"
                      },
                      "entities_result": {
                        "status_code": 200,
                        "visual_regression": {
                          "diff_percent": 0.5,
                          "mainProcessTaskScreenshotId": "screenshot123",
                          "compareProcessTaskScreenshotId": "screenshot456"
                        }
                      },
                      "created_at": "2024-01-01T12:00:00.000Z"
                    }
                  ],
                  "links": {
                    "pagination": {
                      "first": "https://public-api.wp-umbrella.com/projects/1/tasks?page=1&per_page=10",
                      "last": "https://public-api.wp-umbrella.com/projects/1/tasks?page=1&per_page=10"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/reports": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Retrieve the maintenance reports of a project",
        "description": "Retrieves a paginated list of the maintenance reports of a project, most recently generated first. Reports generated for support purposes and previews sent from the report editor are excluded.",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": [
                    {
                      "id": "cm8luwotu00007a2dwfzrvsf4",
                      "name": "Yearly maintenance report",
                      "generation_status": "FINISHED",
                      "generation_type": "MANUAL",
                      "data_start_date": "2025-01-01T00:00:00.000Z",
                      "data_end_date": "2025-12-31T23:59:59.999Z",
                      "generated_at": "2026-01-05T09:12:04.518Z",
                      "generated_end_date": "2026-01-05T09:13:21.004Z",
                      "email_sent_at": "2026-01-05T09:13:22.881Z",
                      "email_sent_from": "reports@agency.com",
                      "sent_error": null,
                      "projectId": 21,
                      "has_pdf": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "example": {
                  "code": "bad_params"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Missing token, invalid scope, or the project does not exist or is not accessible",
            "content": {
              "application/json": {
                "example": {
                  "status": 401,
                  "code": "unauthorized_request",
                  "message": "You are not authorized to access this resource."
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": "Generate a maintenance report",
        "description": "Generates a maintenance report covering the requested period, using the report template linked to the project, then emails it to its recipients.\n\nGeneration and sending both run in the background: the response acknowledges the request with a report in the `PENDING` state, and `GET /projects/{projectId}/reports/{reportId}` tells when it reaches `FINISHED` or `ERROR`.\n\nThe period cannot exceed 366 days, which is what a yearly report needs. The number of reports a project can generate in a day is capped, and going over it answers `429`.\n",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "start_date",
                  "end_date"
                ],
                "properties": {
                  "start_date": {
                    "type": "string",
                    "example": "2025-01-01",
                    "description": "First day of the reported period, formatted as YYYY-MM-DD"
                  },
                  "end_date": {
                    "type": "string",
                    "example": "2025-12-31",
                    "description": "Last day of the reported period, formatted as YYYY-MM-DD"
                  },
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "client@example.com"
                    ],
                    "description": "Recipients of the report. When omitted, the recipients configured on the report template are used."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The generation has been queued",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": {
                    "id": "cm8luwotu00007a2dwfzrvsf4",
                    "name": "Yearly maintenance report",
                    "generation_status": "PENDING",
                    "generation_type": "MANUAL",
                    "data_start_date": "2025-01-01T00:00:00.000Z",
                    "data_end_date": "2025-12-31T23:59:59.999Z",
                    "projectId": 21
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters, or the project has no report recipient",
            "content": {
              "application/json": {
                "example": {
                  "code": "bad_params",
                  "message": "This project has no report recipient. Pass emails in the request body, or configure recipients on the report template."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Missing token, invalid scope, or the project does not exist or is not accessible",
            "content": {
              "application/json": {
                "example": {
                  "status": 401,
                  "code": "unauthorized_request",
                  "message": "You are not authorized to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "No report template is linked to this project",
            "content": {
              "application/json": {
                "example": {
                  "code": "not_found",
                  "message": "No report template is linked to this project"
                }
              }
            }
          },
          "429": {
            "description": "Too many reports have been generated for this project today",
            "content": {
              "application/json": {
                "example": {
                  "code": "limit_excedeed",
                  "message": "Too many reports have been generated for this project today"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/reports/{reportId}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Retrieve a maintenance report",
        "description": "Retrieves a single maintenance report of a project, with the delivery status of each of its recipients.\n\nWhen the report has a PDF, `pdf_url` is a download link that expires 15 minutes after the call, so it has to be fetched server-side and cannot be handed over to an end client as a permanent link.\n",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          },
          {
            "in": "path",
            "name": "reportId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Report ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": {
                    "id": "cm8luwotu00007a2dwfzrvsf4",
                    "name": "Yearly maintenance report",
                    "generation_status": "FINISHED",
                    "generation_type": "MANUAL",
                    "data_start_date": "2025-01-01T00:00:00.000Z",
                    "data_end_date": "2025-12-31T23:59:59.999Z",
                    "generated_at": "2026-01-05T09:12:04.518Z",
                    "generated_end_date": "2026-01-05T09:13:21.004Z",
                    "email_sent_at": "2026-01-05T09:13:22.881Z",
                    "email_sent_from": "reports@agency.com",
                    "sent_error": null,
                    "projectId": 21,
                    "has_pdf": true,
                    "pdf_url": "https://storage.googleapis.com/...",
                    "recipients": [
                      {
                        "email_sent_to": "client@example.com",
                        "email_status": "SENT",
                        "email_opened_at": "2026-01-05T10:02:47.325Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Missing token, invalid scope, or the project does not exist or is not accessible",
            "content": {
              "application/json": {
                "example": {
                  "status": 401,
                  "code": "unauthorized_request",
                  "message": "You are not authorized to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "The report does not exist or does not belong to this project",
            "content": {
              "application/json": {
                "example": {
                  "code": "not_found",
                  "message": "Report not found"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/processes": {
      "get": {
        "tags": [
          "Projects",
          "Processes"
        ],
        "summary": "Retrieve processes for a project",
        "description": "Retrieves a paginated list of processes for a specific project with optional filtering by type, status, and date range.",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The project ID"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of items per page"
          },
          {
            "in": "query",
            "name": "types",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "UPDATE_PLUGIN",
                  "UPDATE_THEME",
                  "UPDATE_CORE",
                  "ACTIVATE_PLUGIN",
                  "DEACTIVATE_PLUGIN",
                  "DELETE_PLUGIN",
                  "DELETE_THEME",
                  "OPTIMIZE_DATABASE"
                ]
              }
            },
            "description": "Types of tasks to retrieve"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "finished",
                "failed",
                "pending",
                "success"
              ]
            },
            "description": "Status of tasks to retrieve"
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "integer"
            },
            "description": "Start date for filtering tasks (Unix timestamp)"
          },
          {
            "in": "query",
            "name": "to",
            "schema": {
              "type": "integer"
            },
            "description": "End date for filtering tasks (Unix timestamp)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": [
                    {
                      "id": "task123",
                      "type": "UPDATE_PLUGIN",
                      "code": "success",
                      "entities": {
                        "id": "plugin123",
                        "name": "Example Plugin",
                        "plugin": "example-plugin/example-plugin.php",
                        "version": "2.0.0",
                        "is_active": true,
                        "old_version": "1.9.0",
                        "update_type": "QUICK_UPDATE"
                      },
                      "entities_result": {
                        "status_code": 200
                      },
                      "created_at": "2024-01-01T12:00:00.000Z"
                    }
                  ],
                  "links": {
                    "pagination": {
                      "first": "https://public-api.wp-umbrella.com/projects/123/processes?page=1&per_page=10",
                      "last": "https://public-api.wp-umbrella.com/projects/123/processes?page=1&per_page=10"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - user cannot access this project"
          }
        }
      }
    },
    "/projects/{projectId}/plugins": {
      "get": {
        "tags": [
          "Plugins"
        ],
        "summary": "Retrieve plugins for a project",
        "description": "Retrieves a paginated list of plugins for a specific project.",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of items per page"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "name"
              ],
              "default": "name"
            },
            "description": "Sort field"
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": [
                    {
                      "id": "plugin123",
                      "name": "Example Plugin",
                      "key": "example-plugin/example-plugin.php",
                      "is_active": true,
                      "version": "2.1.0",
                      "require_wp_version": "5.8",
                      "require_php_version": "7.4",
                      "need_update": {
                        "id": "w.org/plugins/example-plugin",
                        "url": "https://wordpress.org/plugins/example-plugin/",
                        "slug": "example-plugin",
                        "plugin": "example-plugin/example-plugin.php",
                        "tested": "6.7.1",
                        "package": "https://downloads.wordpress.org/plugin/example-plugin.2.2.0.zip",
                        "new_version": "2.2.0",
                        "requires_php": "7.4"
                      }
                    },
                    {
                      "id": "plugin456",
                      "name": "Another Plugin",
                      "key": "another-plugin/another-plugin.php",
                      "is_active": false,
                      "version": "1.5.0",
                      "require_wp_version": "5.6",
                      "require_php_version": "7.2",
                      "need_update": {}
                    }
                  ],
                  "links": {
                    "pagination": {
                      "first": "https://public-api.wp-umbrella.com/projects/1/plugins?page=1&per_page=10",
                      "last": "https://public-api.wp-umbrella.com/projects/1/plugins?page=1&per_page=10"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "example": {
                  "code": "bad_params",
                  "message": "\"sort\" must be one of [name]"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/plugins/update": {
      "post": {
        "tags": [
          "Plugins"
        ],
        "summary": "Update plugins for a project",
        "description": "Updates one or more plugins for a specific project. Returns a process ID to track the update.",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "plugin_keys"
                ],
                "properties": {
                  "plugin_keys": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of plugin keys to update"
                  },
                  "update_type": {
                    "type": "string",
                    "enum": [
                      "QUICK_UPDATE",
                      "SAFE_UPDATE",
                      "ADVANCED_SAFE_UPDATE"
                    ],
                    "default": "QUICK_UPDATE",
                    "description": "Type of update to perform"
                  },
                  "clear_cache": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to clear cache after update"
                  },
                  "advanced_safe_update_validation": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable advanced validation for safe updates"
                  }
                }
              },
              "example": {
                "plugin_keys": [
                  "wp-seopress/seopress.php",
                  "wp-health/wp-health.php"
                ],
                "clear_cache": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": {
                    "processId": "cm4s1zmdc00012nufwpwp1th7"
                  },
                  "links": {
                    "process": "https://public-api.wp-umbrella.com/processes/cm4s1zmdc00012nufwpwp1th7"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "example": {
                  "code": "bad_params",
                  "message": "\"plugin_keys\" is required"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "code": "not_found",
                  "message": "Plugins not found"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/login-guard/filter": {
      "get": {
        "tags": [
          "Login Guard"
        ],
        "summary": "Download the shared login blocklist Bloom filter",
        "description": "Returns the shared login guard blocklist as a binary Bloom filter blob. The response is identical for every project and is safe to cache at the edge. The body is raw application/octet-stream (UBLM wire format), not the JSON envelope.\n",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "code": "unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "code": "internal_error",
                  "message": "An unexpected error occurred"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/issues": {
      "get": {
        "tags": [
          "PHP Issues"
        ],
        "summary": "Retrieve PHP errors detected on a project",
        "description": "Returns a paginated list of the PHP errors, warnings and notices recorded on a project, with how many times each one fired and when it was last seen. Each entry is a deduplicated signature, not a single occurrence. Errors reported by the WP Umbrella plugin itself are excluded.\n",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of items per page (max 1000)"
          },
          {
            "in": "query",
            "name": "severity",
            "schema": {
              "type": "string",
              "enum": [
                "FATAL",
                "MINOR"
              ]
            },
            "description": "Keep only fatal errors, or only warnings and notices"
          },
          {
            "in": "query",
            "name": "source_slug",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated plugin or theme slugs to filter on"
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search the error message, the source name or the file path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": [
                    {
                      "id": "clx9issue123",
                      "severity": "FATAL",
                      "code": 1,
                      "type_error": "E_ERROR",
                      "source_name": "Contact Form 7",
                      "source_slug": "contact-form-7",
                      "message": "Uncaught Error: Call to a member function get() on null",
                      "file": "/wp-content/plugins/contact-form-7/includes/mail.php",
                      "line": 214,
                      "occurrences": 37,
                      "last_seen_at": "2026-07-29T18:22:10.000Z"
                    }
                  ],
                  "links": {
                    "pagination": {
                      "first": "https://public-api.wp-umbrella.com/projects/1/issues?page=1&per_page=10",
                      "last": "https://public-api.wp-umbrella.com/projects/1/issues?page=3&per_page=10"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "example": {
                  "code": "bad_params",
                  "message": "\"severity\" must be one of [FATAL, MINOR]"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/database-optimization": {
      "post": {
        "tags": [
          "Database Optimization"
        ],
        "summary": "Optimize database for a project",
        "description": "Optimizes the database for a specific project. At least one optimization option must be enabled.",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "auto_drafts": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to clean auto drafts"
                  },
                  "expired_transients": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to clean expired transients"
                  },
                  "post_revisions": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to clean post revisions"
                  },
                  "spam_comments": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to clean spam comments"
                  },
                  "tables": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to optimize database tables"
                  },
                  "trashed_comments": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to clean trashed comments"
                  },
                  "trashed_posts": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to clean trashed posts"
                  },
                  "clear_cache": {
                    "type": "boolean",
                    "default": false,
                    "description": "Clear cache after optimization"
                  }
                }
              },
              "example": {
                "auto_drafts": true,
                "expired_transients": true,
                "post_revisions": true,
                "trashed_posts": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": {
                    "processId": "cm4s1zmdc00012nufwpwp1th7"
                  },
                  "links": {
                    "process": "https://public-api.wp-umbrella.com/processes/cm4s1zmdc00012nufwpwp1th7"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "example": {
                  "code": "bad_params",
                  "message": "At least one optimization option must be enabled"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/custom-works": {
      "get": {
        "tags": [
          "Custom Works"
        ],
        "summary": "Retrieve custom works for a project",
        "description": "Retrieves a paginated list of the custom works of a project, most recent execution date first.",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": [
                    {
                      "id": 25,
                      "name": "Monthly maintenance",
                      "description": "Plugin review and cleanup",
                      "execution_date": "2026-03-20T00:00:00.000Z",
                      "estimated_time": 2,
                      "estimated_time_unit": "HOURS",
                      "is_recurring": true,
                      "created_at": "2026-03-01T16:32:52.147Z",
                      "projectId": 21,
                      "scheduledBy": {
                        "id": "cm8luwotu00007a2dwfzrvsf4",
                        "frequency": "MONTHLY",
                        "type_frequency": null,
                        "specific_day": 1,
                        "next_execution": "2026-04-01T12:00:00.000Z",
                        "last_execution": "2026-03-01T12:00:00.000Z",
                        "is_active": true
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "example": {
                  "code": "bad_params"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing token, invalid scope, or the project does not exist or is not accessible",
            "content": {
              "application/json": {
                "example": {
                  "status": 401,
                  "code": "unauthorized_request",
                  "message": "You are not authorized to access this resource."
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Custom Works"
        ],
        "summary": "Create a custom work for a project",
        "description": "Creates a new custom work entry for a specific project. Supports one-time and recurring works.",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "execution_date",
                  "estimated_time",
                  "estimated_time_unit",
                  "is_recurring"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the custom work"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the custom work"
                  },
                  "execution_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Execution date of the custom work"
                  },
                  "estimated_time": {
                    "type": "number",
                    "description": "Estimated time of the custom work"
                  },
                  "estimated_time_unit": {
                    "type": "string",
                    "enum": [
                      "MINUTES",
                      "HOURS",
                      "DAYS"
                    ],
                    "description": "Unit of estimated time"
                  },
                  "is_recurring": {
                    "type": "boolean",
                    "description": "Whether the custom work is recurring"
                  },
                  "frequency": {
                    "type": "string",
                    "enum": [
                      "WEEKLY",
                      "MONTHLY",
                      "QUARTERLY"
                    ],
                    "description": "Frequency value, required when is_recurring is true"
                  },
                  "type_frequency": {
                    "type": "string",
                    "enum": [
                      "MONDAY",
                      "TUESDAY",
                      "WEDNESDAY",
                      "THURSDAY",
                      "FRIDAY",
                      "SATURDAY",
                      "SUNDAY",
                      "BEGIN_Q1",
                      "BEGIN_Q2",
                      "BEGIN_Q3",
                      "BEGIN_Q4"
                    ],
                    "description": "Day of the week for weekly works or quarter start for quarterly works, required for those frequencies and ignored for monthly works"
                  },
                  "specific_day": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 31,
                    "description": "Day of the month for monthly works, required for that frequency and ignored for the others"
                  }
                }
              },
              "example": {
                "name": "Custom Work Name",
                "description": "Work description",
                "execution_date": "2024-03-20",
                "estimated_time": 2,
                "estimated_time_unit": "HOURS",
                "is_recurring": true,
                "frequency": "WEEKLY",
                "type_frequency": "MONDAY",
                "specific_day": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": {
                    "id": 25,
                    "name": "Custom Work Name",
                    "description": "Work description",
                    "execution_date": "2024-03-20T00:00:00.000Z",
                    "is_recurring": true,
                    "estimated_time": 2,
                    "estimated_time_unit": "HOURS",
                    "created_at": "2025-03-23T16:32:52.147Z",
                    "projectId": 21,
                    "scheduledWorkId": "cm8luwotu00007a2dwfzrvsf4",
                    "userId": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "example": {
                  "code": "bad_params"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/custom-works/{customWorkId}": {
      "put": {
        "tags": [
          "Custom Works"
        ],
        "summary": "Update a custom work",
        "description": "Updates a custom work of a project. This is a full replacement, not a partial update: every optional field omitted from the body is reset, so send the complete resource even for a one-field change. Setting is_recurring to true creates or updates its schedule, setting it to false deactivates the schedule without deleting past occurrences.\n",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          },
          {
            "in": "path",
            "name": "customWorkId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Custom work ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "is_recurring"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the custom work"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the custom work"
                  },
                  "execution_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Execution date of the custom work"
                  },
                  "estimated_time": {
                    "type": "number",
                    "description": "Estimated time of the custom work"
                  },
                  "estimated_time_unit": {
                    "type": "string",
                    "enum": [
                      "MINUTES",
                      "HOURS",
                      "DAYS"
                    ],
                    "description": "Unit of estimated time"
                  },
                  "is_recurring": {
                    "type": "boolean",
                    "description": "Whether the custom work is recurring"
                  },
                  "frequency": {
                    "type": "string",
                    "enum": [
                      "WEEKLY",
                      "MONTHLY",
                      "QUARTERLY"
                    ],
                    "description": "Frequency value, required when is_recurring is true"
                  },
                  "type_frequency": {
                    "type": "string",
                    "enum": [
                      "MONDAY",
                      "TUESDAY",
                      "WEDNESDAY",
                      "THURSDAY",
                      "FRIDAY",
                      "SATURDAY",
                      "SUNDAY",
                      "BEGIN_Q1",
                      "BEGIN_Q2",
                      "BEGIN_Q3",
                      "BEGIN_Q4"
                    ],
                    "description": "Day of the week for weekly works or quarter start for quarterly works, required for those frequencies and ignored for monthly works"
                  },
                  "specific_day": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 31,
                    "description": "Day of the month for monthly works, required for that frequency and ignored for the others"
                  }
                }
              },
              "example": {
                "name": "Monthly maintenance",
                "description": "Plugin review and cleanup",
                "execution_date": "2026-03-20",
                "estimated_time": 2,
                "estimated_time_unit": "HOURS",
                "is_recurring": true,
                "frequency": "MONTHLY",
                "specific_day": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": {
                    "id": 25,
                    "name": "Monthly maintenance",
                    "description": "Plugin review and cleanup",
                    "execution_date": "2026-03-20T00:00:00.000Z",
                    "estimated_time": 2,
                    "estimated_time_unit": "HOURS",
                    "is_recurring": true,
                    "created_at": "2026-03-01T16:32:52.147Z",
                    "projectId": 21,
                    "scheduledBy": {
                      "id": "cm8luwotu00007a2dwfzrvsf4",
                      "frequency": "MONTHLY",
                      "type_frequency": null,
                      "specific_day": 1,
                      "next_execution": "2026-04-01T12:00:00.000Z",
                      "last_execution": null,
                      "is_active": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "example": {
                  "code": "bad_params"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing token, invalid scope, or the project does not exist or is not accessible",
            "content": {
              "application/json": {
                "example": {
                  "status": 401,
                  "code": "unauthorized_request",
                  "message": "You are not authorized to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "The custom work does not exist or does not belong to this project",
            "content": {
              "application/json": {
                "example": {
                  "code": "not_found",
                  "message": "Custom work not found"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Custom Works"
        ],
        "summary": "Retrieve a custom work",
        "description": "Retrieves a single custom work of a project, with its schedule when the work is recurring.",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          },
          {
            "in": "path",
            "name": "customWorkId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Custom work ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": {
                    "id": 25,
                    "name": "Monthly maintenance",
                    "description": "Plugin review and cleanup",
                    "execution_date": "2026-03-20T00:00:00.000Z",
                    "estimated_time": 2,
                    "estimated_time_unit": "HOURS",
                    "is_recurring": true,
                    "created_at": "2026-03-01T16:32:52.147Z",
                    "projectId": 21,
                    "scheduledBy": {
                      "id": "cm8luwotu00007a2dwfzrvsf4",
                      "frequency": "MONTHLY",
                      "type_frequency": null,
                      "specific_day": 1,
                      "next_execution": "2026-04-01T12:00:00.000Z",
                      "last_execution": "2026-03-01T12:00:00.000Z",
                      "is_active": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing token, invalid scope, or the project does not exist or is not accessible",
            "content": {
              "application/json": {
                "example": {
                  "status": 401,
                  "code": "unauthorized_request",
                  "message": "You are not authorized to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "The custom work does not exist or does not belong to this project",
            "content": {
              "application/json": {
                "example": {
                  "code": "not_found",
                  "message": "Custom work not found"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Custom Works"
        ],
        "summary": "Delete a custom work",
        "description": "Deletes a custom work of a project. Deleting a recurring occurrence also removes the schedule it carries, so the work stops recurring.",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          },
          {
            "in": "path",
            "name": "customWorkId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Custom work ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": {
                    "message": "Custom work deleted successfully"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing token, invalid scope, or the project does not exist or is not accessible",
            "content": {
              "application/json": {
                "example": {
                  "status": 401,
                  "code": "unauthorized_request",
                  "message": "You are not authorized to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "The custom work does not exist or does not belong to this project",
            "content": {
              "application/json": {
                "example": {
                  "code": "not_found",
                  "message": "Custom work not found"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/broken-links/ignore": {
      "post": {
        "tags": [
          "Broken Links"
        ],
        "summary": "Ignore a broken link",
        "description": "Marks a broken link as ignored for the specified project. If the link is already ignored, updates the reason.",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "link_id"
                ],
                "properties": {
                  "link_id": {
                    "type": "string",
                    "description": "The ID of the broken link to ignore"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Optional reason for ignoring"
                  }
                }
              },
              "example": {
                "link_id": "clx1def456",
                "reason": "Known external link, not our responsibility"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": {
                    "id": "clx1ghi789"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "example": {
                  "code": "bad_params",
                  "message": "\"link_id\" is required"
                }
              }
            }
          },
          "404": {
            "description": "Broken link not found",
            "content": {
              "application/json": {
                "example": {
                  "code": "not_found",
                  "message": "Broken link not found"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/broken-links": {
      "get": {
        "tags": [
          "Broken Links"
        ],
        "summary": "Retrieve broken links for a project",
        "description": "Retrieves a paginated list of broken links detected on a project's pages. Supports filtering by HTTP status category, resource type, search text, and ignored state.",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of items per page (max 1000)"
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search broken links or page URLs by keyword"
          },
          {
            "in": "query",
            "name": "status_filter",
            "schema": {
              "type": "string",
              "enum": [
                "4xx",
                "5xx",
                "timeout"
              ]
            },
            "description": "Comma-separated status filters (4xx, 5xx, timeout)"
          },
          {
            "in": "query",
            "name": "resource_type",
            "schema": {
              "type": "string",
              "enum": [
                "LINK",
                "IMAGE"
              ]
            },
            "description": "Filter by resource type"
          },
          {
            "in": "query",
            "name": "show_ignored",
            "schema": {
              "type": "string",
              "enum": [
                "ignored",
                "not_ignored"
              ]
            },
            "description": "Filter by ignored state"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": [
                    {
                      "id": "clx1abc123",
                      "linkId": "clx1def456",
                      "href": "https://example.com/broken-page",
                      "httpStatus": 404,
                      "checkError": null,
                      "lastCheckedAt": "2026-04-10T12:00:00.000Z",
                      "anchorText": "Click here",
                      "isInternal": true,
                      "isIgnored": false,
                      "resourceType": "LINK",
                      "lastSeenAt": "2026-04-10T12:00:00.000Z",
                      "pageUrl": "https://example.com/source-page",
                      "pageHttpStatus": 200
                    }
                  ],
                  "links": {
                    "pagination": {
                      "first": "https://public-api.wp-umbrella.com/projects/1/broken-links?page=1&per_page=10",
                      "last": "https://public-api.wp-umbrella.com/projects/1/broken-links?page=5&per_page=10"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "example": {
                  "code": "bad_params",
                  "message": "\"resource_type\" must be one of [LINK, IMAGE, SCRIPT, STYLESHEET, IFRAME]"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/backups": {
      "get": {
        "tags": [
          "Backups"
        ],
        "summary": "Retrieve backups for a project",
        "description": "Retrieves a paginated list of backups for a specific project. Results are ordered by date (newest first).",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of items per page (max 1000)"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "finished",
                "error",
                "pending"
              ]
            },
            "description": "Filter by backup status"
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "integer"
            },
            "description": "Filter backups from this date (Unix timestamp)"
          },
          {
            "in": "query",
            "name": "to",
            "schema": {
              "type": "integer"
            },
            "description": "Filter backups until this date (Unix timestamp)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": [
                    {
                      "id": "clx1abc123",
                      "date": "2026-04-15T03:00:00.000Z",
                      "date_finished": "2026-04-15T03:05:32.000Z",
                      "status": "FINISHED",
                      "trigger_type": "AUTOMATIC",
                      "wordpress_version": "6.7.1",
                      "count_plugin": 12,
                      "count_post": 45,
                      "count_attachment": 230,
                      "size_bytes": 524288000,
                      "error_code": null
                    }
                  ],
                  "links": {
                    "pagination": {
                      "first": "https://public-api.wp-umbrella.com/projects/1/backups?page=1&per_page=10",
                      "last": "https://public-api.wp-umbrella.com/projects/1/backups?page=5&per_page=10"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "example": {
                  "code": "bad_params",
                  "message": "\"status\" must be one of [finished, error, pending]"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/backups/{backupId}": {
      "get": {
        "tags": [
          "Backups"
        ],
        "summary": "Retrieve a specific backup",
        "description": "Retrieves the details of a specific backup for a project.",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          },
          {
            "in": "path",
            "name": "backupId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Backup ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": {
                    "id": "clx1abc123",
                    "date": "2026-04-15T03:00:00.000Z",
                    "date_finished": "2026-04-15T03:05:32.000Z",
                    "status": "FINISHED",
                    "trigger_type": "AUTOMATIC",
                    "wordpress_version": "6.7.1",
                    "count_plugin": 12,
                    "count_post": 45,
                    "count_attachment": 230,
                    "size_bytes": 524288000,
                    "error_code": null
                  }
                }
              }
            }
          },
          "404": {
            "description": "Backup not found",
            "content": {
              "application/json": {
                "example": {
                  "code": "not_found",
                  "message": "Backup not found"
                }
              }
            }
          }
        }
      }
    },
    "/processes": {
      "get": {
        "tags": [
          "Processes"
        ],
        "summary": "Retrieve processes",
        "description": "Retrieves a paginated list of processes with optional filtering by type, status, and date range.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of items per page"
          },
          {
            "in": "query",
            "name": "types",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "UPDATE_PLUGIN",
                  "UPDATE_THEME",
                  "UPDATE_CORE",
                  "ACTIVATE_PLUGIN",
                  "DEACTIVATE_PLUGIN",
                  "DELETE_PLUGIN",
                  "DELETE_THEME",
                  "OPTIMIZE_DATABASE"
                ]
              }
            },
            "description": "Types of tasks to retrieve"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "finished",
                "failed",
                "pending",
                "success"
              ]
            },
            "description": "Status of tasks to retrieve"
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "integer"
            },
            "description": "Start date for filtering tasks (Unix timestamp)"
          },
          {
            "in": "query",
            "name": "to",
            "schema": {
              "type": "integer"
            },
            "description": "End date for filtering tasks (Unix timestamp)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": [
                    {
                      "id": "task123",
                      "type": "UPDATE_PLUGIN",
                      "code": "success",
                      "entities": {
                        "id": "plugin123",
                        "name": "Example Plugin",
                        "plugin": "example-plugin/example-plugin.php",
                        "version": "2.0.0",
                        "is_active": true,
                        "old_version": "1.9.0",
                        "update_type": "QUICK_UPDATE"
                      },
                      "entities_result": {
                        "status_code": 200,
                        "visual_regression": {
                          "diff_percent": 0.5,
                          "mainProcessTaskScreenshotId": "screenshot123",
                          "compareProcessTaskScreenshotId": "screenshot456"
                        }
                      },
                      "created_at": "2024-01-01T12:00:00.000Z"
                    }
                  ],
                  "links": {
                    "pagination": {
                      "first": "https://public-api.wp-umbrella.com/processes?page=1&per_page=10",
                      "last": "https://public-api.wp-umbrella.com/processes?page=1&per_page=10"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/labels": {
      "get": {
        "tags": [
          "Labels"
        ],
        "summary": "Get labels for a user",
        "description": "Retrieves a paginated list of labels for the authenticated user.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": [
                    {
                      "id": "cltxhdr9o00011qeigyp3flqg",
                      "name": "Production",
                      "description": "Production sites",
                      "color": "#FF5733",
                      "created_at": "2024-03-18T10:00:00.000Z",
                      "projects_count": 5
                    }
                  ],
                  "links": {
                    "pagination": {
                      "first": "https://public-api.wp-umbrella.com/labels?page=1&per_page=10",
                      "last": "https://public-api.wp-umbrella.com/labels?page=2&per_page=10",
                      "next": "https://public-api.wp-umbrella.com/labels?page=2&per_page=10"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Labels"
        ],
        "summary": "Create a label",
        "description": "Creates a new label for the authenticated user.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the label"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the label"
                  },
                  "color": {
                    "type": "string",
                    "description": "Hex color code of the label (e.g. \"#FF5733\"). A random color is generated if not provided."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "code": "success",
                  "data": {
                    "id": "cltxhdr9o00011qeigyp3flqg",
                    "name": "Production",
                    "description": "Production sites",
                    "color": "#FF5733"
                  }
                }
[...]
